.card {
  width: 120px;
  height: 192px; /* -20% від 240px */

  padding: 16px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
}

.avatar {
  width: 106px; /* +10% */
  height: 106px;
}

.name {
  margin: 0;
  font-weight: 700;
  font-size: 40px; /* +100% */
  line-height: 1.1;
  text-align: center;
}

.status {
  margin: 0;
  font-size: 24px; /* +50% */
  font-weight: 600;
}

.online {
  color: green;
}

.offline {
  color: red;
}
